<!DOCTYPE html>
<html>
<head>
    <title>Logged Out - Gold Health</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>You have been logged out.</h1>
    <a href="/">Return to Home</a> |
    <a href="/users/login">Login Again</a>
</body>
</html>
